@-webkit-keyframes entry {
  0% {
    -webkit-transform: translateY(-$font-38px)
  }
  100% {
    -webkit-transform: translateY(0)
  }
}

@keyframes entry {
  0% {
    transform: translateY(-$font-38px);
    -webkit-transform: translateY(-$font-38px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animate-width {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes animate-width {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes showup {
  0% {opacity:0;}
  30% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:1;}
}

@-webkit-keyframes showup {
  0% {opacity:0;}
  30% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:1;}
}

@-webkit-keyframes showup-medium {
  0% {opacity:0;}
  80% {opacity:0;}
  100% {opacity:1;}
}

@keyframes showup-medium {
  0% {opacity:0;}
  80% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes showup-regular {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes showup-regular {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes animate-title-width {
  0% {
    opacity: 0;
    width: 100%;
  }
  30%{
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 40px;
  }
}

@keyframes animate-title-width {
  0% {
    opacity: 0;
    width: 100%;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 40px;
  }
}

@-webkit-keyframes bullets-animation-entry {
  0% {
    opacity:0;
    -webkit-transform: translateY(-$font-38px)
  }
  100% {
    opacity:1;
    -webkit-transform: translateY(0)
  }
}

@keyframes bullets-animation-entry {
  0% {
    opacity:0;
    transform: translateY(-$font-38px);
    -webkit-transform: translateY(-$font-38px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
    -webkit-transform: translateY(0)
  }
}

@-webkit-keyframes gallery-width {
  0% {
    opacity:0;
    width: 0;
  }
  30% {
    opacity: 1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes gallery-width {
  0% {
    opacity:0;
    width: 0;
  }
  30% {
    opacity: 1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@-webkit-keyframes gallery-height {
  0% {
    opacity:0;
    height: 0;
  }
  30% {
    opacity: 1;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes gallery-height {
  0% {
    opacity:0;
    height: 0;
  }
  30% {
    opacity: 1;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}