@import "../../../assets/themes/default/color_cheme";
@import "../../../assets/themes/default/font-sizes";
@import "../../../assets/themes/default/variables";

.root{
  display: block;
  text-align: center;
  width: $desktop-content-width;
  margin: 0 auto;
  .extra-big-title{
    padding-right: 40px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      display: inline-block;
      top: $font-16px;
      background-color: $font-scnd-clr;
    }
  }
}
