@import "../../../assets/themes/default/color_cheme";
@import "../../../assets/themes/default/font-sizes";
@import "../../../assets/themes/default/variables";

.slider{
  margin-top: 30px;
  .slider-content-wrapper{
    width: $desktop-content-width;
    height: $desktop-slider-height;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .slider-left-section,
    .slider-right-section{
      display: inline-block;
      width: 50%;
      height: 100%;
      position: relative;
      vertical-align: middle;
    }
  }
}